<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="generator" content=
  "HTML Tidy for HTML5 for Linux version 5.8.0">
  <meta charset="UTF-8">
  <meta name="Author" content="Pawel Strzebonski">
  <meta name="Description" content=
  "Smart-RSS Go Web: A machine learning enhanced RSS feed manager.">
  <title>Smart-RSS Go Web</title>
		<style media="screen">
			iframe{
			  display: none;
			}
			body{
				background-color: lightblue;
			}
		</style>
</head>
<body>
  <script src="vue.global.js"></script>
  <div id="app">
    <h1>RSS Items</h1><button @click='nextpage'>Next Page</button>
    <hr>
    <div v-for="item in items">
      Score: {{item.Score}} - <b>{{item.Title}}</b> -
      <i>{{item.Summary}}</i>
      <button @click='open(item.Url)'>Open</button>
      <button @click='like(item.Url)'>Like</button>
      <button @click='dislike(item.Url)'>Dislike</button>
      <hr>
    </div>
    <button @click='nextpage'>Next Page</button>
    <h1>Settings</h1>
    # of items per page: <input v-model="numperpage">
    <button @click='setnumperpage'>Set</button>
    <button @click='getnumperpage'>Reset</button>
    <h2>Add a new feed:</h2>
    URL: <input v-model="newfeedurl" placeholder="Type here">
    Update Period (Seconds): <input v-model="newfeedupdatetime" placeholder="3600">
    <button @click='addfeed(newfeedurl, newfeedupdatetime)'>Add</button>
    <h2>Remove a feed:</h2>Feed URL: <select v-model=
    "selectedfeed">
      <option v-for="feed in feeds">
        {{feed}}
      </option>
    </select> <button @click='removefeed(selectedfeed)'>Remove</button>
  </div>
  <script src='app.js'>
  </script>
</body>
</html>
